.container {
  margin-top: -1.5em;
}
.title {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  font-size: 3.25em;
  /* line-height: 135%; */
  text-align: center;
  text-transform: uppercase;
  color: #d2e81a;
}
.subTitle {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  font-size: 1.5em;
  /* font-size: 1.875em; */
  /* line-height: 167%; */
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 640px) {
  .container {
    font-size: 3em;
  }
  .title {
    font-size: 2.8em;
  }
  .subTitle {
    font-size: 1.4em;
  }
}
